{
	"env": {
		"browser": true,
		"es6": true
	},
	"parser": "babel-eslint",
  "extends": [ "airbnb" ],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": [ "react", "jsx-a11y", "import" ],
	"rules": {
		"react/jsx-filename-extension": [ 1, { "extensions": [ ".js", ".jsx" ] } ],
		"import/no-unresolved": "off",
		"jsx-a11y/label-has-for": [
			2,
			{
				"components": [ "Label" ],
				"required": {
					"some": [ "nesting", "id" ]
				},
				"allowChildren": false
			}
		],
		"react/prop-types": "off",
		"no-console": "off",
		"camelcase": "off",
		"quotes": 0,
		"no-underscore-dangle": "off",
		"no-shadow": "warn",
		"react/destructuring-assignment": "warn",
		"one-var":"off",
		"react/jsx-boolean-value": "warn",
		"react/jsx-one-expression-per-line": "warn",
		"react/prefer-stateless-function": "warn",
		"linebreak-style": "warn",
		"react/no-unused-state": "warn"
	}
}
