$night0: hsl(240, 21%, 11%);
$night1: hsl(137, 5%, 88%);
$grey0: hsl(0, 0%, 98%);
$grey1: hsl(175, 5%, 75%);
$grey3: hsl(247, 9%, 15%);
$purple: hsl(240, 100%, 76%);
$purple2: hsl(240, 100%, 66%);
$aqua0: hsl(175, 100%, 20%);
$aqua1: hsl(175, 100%, 25%);
$aqua2: hsl(175, 100%, 15%);
$danger0: hsl(355, 70%, 46%);

* {
	font-family: Lato, Roboto, Ubuntu, sans-serif;
}

$danger0: hsl(355, 70%, 46%);

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $night0;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-grid {
  display: grid;
  grid-template-columns: 114px 100%;
}

.dashboard-grid {
  grid-template-columns: 110px 1fr;
  display: grid;
  grid-template-rows: 79px 1fr;
  grid-gap: 0;
  z-index: 2;
}

.NotFound {
  @extend .flexCenter;
  border-radius: 7px;
  padding: 50px 75px;
  max-width: 1200px;
  text-align: center;
  margin: 15% auto;
  background: $grey1;

  &__section {
    line-height: 1;

    &__p1, &__p2, &__p3 {
      margin: 0;
    }
    &__p1 {
      color: $danger0;
      font-size: 120px;
    }
    &__p2 {
      font-size: 144px;
    }
    &__p3 {
      font-size: 72px;
    }
  }
}
