$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";
@import "~material-design-icons-iconfont/src/material-design-icons";

$grey0: hsl(0, 0%, 98%);
$grey1: hsl(175, 5%, 75%);
$danger0: hsl(355, 70%, 46%);
$dark0: hsl(60, 3%, 25%);

* {
	font-family: Lato, Roboto, Ubuntu, sans-serif;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark0;
  overflow-x: hidden;
}

.name-filter {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0 0 0px 1000px hsl(205, 11%, 31%) inset;
    height: 0;
    padding-left: 5px;
  }
}

.-previous, .-next {
  button {
    color: hsl(0, 0%, 100%) !important;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotFound {
  @extend .flexCenter;
  border-radius: 7px;
  padding: 50px 75px;
  max-width: 1200px;
  text-align: center;
  margin: 15% auto;
  background: $grey1;

  &__section {
    line-height: 1;

    &__p1, &__p2, &__p3 {
      margin: 0;
    }
    &__p1 {
      color: $danger0;
      font-size: 120px;
    }
    &__p2 {
      font-size: 144px;
    }
    &__p3 {
      font-size: 72px;
    }
  }
}

.responsive-card {
  $mediaCardWidth: 760px;
  min-width: 755px;
  @media (max-width: $mediaCardWidth) {
    height: 100% !important;
    overflow-y: scroll;
    min-width: 0;
  }

  &__actions {
    @media (max-width: $mediaCardWidth) {
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }

  &__content {
    @media (max-width: 760px) {
      height: 100%;
      overflow-y: scroll;
    }
  }
}

.forge-content {
  padding-bottom: 50px;
  @media (min-width: 1376px) {
    width: 1245px !important;
    margin: auto;
  }
}

.custom-panel {
  width: 400px;
}
